[submodule "packages/shared-types"]
	path = packages/shared-types
	url = git@github.com:PolyVN/trading-shared-types.git
[submodule "docs"]
	path = docs
	url = git@github.com:PolyVN/trading-docs.git
[submodule "packages/trading-engine"]
	path = packages/trading-engine
	url = git@github.com:PolyVN/trading-engine.git
[submodule "packages/cms-backend"]
	path = packages/cms-backend
	url = git@github.com:PolyVN/trading-cms-backend.git
[submodule "packages/cms-frontend"]
	path = packages/cms-frontend
	url = git@github.com:PolyVN/trading-cms-frontend.git
