[submodule "packages/shared-types"]
	path = packages/shared-types
	url = git@github.com:PolyVN/trading-shared-types.git
[submodule "docs"]
	path = docs
	url = git@github.com:PolyVN/trading-docs.git
[submodule "packages/trading-engine"]
	path = packages/trading-engine
	url = git@github.com:PolyVN/trading-engine.git
